body {
    background-color: darkgray;
}

h1 {
    text-align: center;
}

.recipes {
    background-image: url(../images/recipes.jpeg);
    background-size: cover;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

}
